@import "../../../../element-variables.scss";


a {
  color: mix(#fff, $--color-primary, 20%);
  text-decoration: none;

  &:focus,
  &:hover {
    color: $--color-primary;
    text-decoration: underline;
  }
}

.el-tabs__item.is-active {
  border-bottom-color: $--color-primary;
}

.main-header.follow-theme {
  .header-nav {
    background-color: $--color-primary;
  }

  .header-nav-item {
    color: #f0f0f0;

    &:hover {
      color: #fff;
    }
  }
}

.ripple:after {
  background-image: radial-gradient(circle, $--color-primary 10%, transparent 20%);
}

/* Brand-color
-------------------------- */
.c-primary {
  color: $--color-primary;
}

.bg-c-primary {
  background-color: $--color-primary;
}

.b-c-primary {
  border-color: $--color-primary;
}

.login-main .login-captcha {
  background: -webkit-linear-gradient(left top, $--color-primary-light-8 0%, #d9dadc 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom right, $--color-primary-light-8 0%, #d9dadc 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom right, $--color-primary-light-8 0%, #d9dadc 100%); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom right, $--color-primary-light-8 0%, #d9dadc 100%); /* 标准的语法（必须放在最后） */
}
