// herder
$--herder-height: 50px;

// sideMenu
$--sideMenu-width: 230px;
$--sideMenu-fold-width: 64px;
$--sideMenu-menu-item-height: 48px;
// sideMenu dark
$--sideMenu-dark-background-color: #263238;
$--sideMenu-dark-item-text-color: #8a979e;

// content
$--content-height: 100%;
$--content-padding: 15px;
$--content-background-color: #f1f4f5;
$--el-tabs__header-height: 40px;
/* Main Layout Style Start
------------------------------ */

.main-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.main-container.collapse {
  .header-brand {
    width: $--sideMenu-fold-width;
  }

  .header-nav {
    margin-left: $--sideMenu-fold-width;
  }

  .main-side-menu {
    width: $--sideMenu-fold-width;

    .el-menu {
      width: $--sideMenu-fold-width;
    }
  }

  .main-content {
    margin-left: $--sideMenu-fold-width;
  }
}

.main-header {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: $--herder-height;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05);
  z-index: 3;

  .header-brand {
    width: $--sideMenu-width;
    height: $--herder-height;
    line-height: $--herder-height;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    transition: all .3s ease;

    h1 {
      margin: 0;
      font-size: 22px;
      font-weight: 400;
    }
  }

  .header-nav {
    margin: 0 0 0 $--sideMenu-width;
    padding: 0;
    height: $--herder-height;
    transition: all .3s ease;
  }

  .header-nav-item {
    min-width: 42px;
    height: $--herder-height;
    line-height: $--herder-height;
    color: #606266;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s ease .0s;

    &:hover {
      color: inherit;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover .icon-button {
      color: inherit;
    }

    &:hover .icon-down {
      transform: rotate(180deg);
    }

  }

  .el-dropdown {
    color: inherit;
    font-size: inherit;
  }

  .user-info {
    overflow: hidden;
    min-width: 56px;
    padding: 0 12px;
    height: $--herder-height;

    .avatar-wrapper {
      overflow: hidden;
      margin-top: 7px;
      margin-right: 8px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      text-align: center;
      background: #eee;
      border: 1px solid #606266;
    }

    img {
      width: 36px;
      vertical-align: top;
      transition: all ease .3s;

      &:hover {
        zoom: 1;
        transform: scale(1.1);
        -ms-transform: scale(1.1);
      }
    }
  }

  .user-name {
    margin-right: 4px;
    line-height: $--herder-height;
    font-size: 14px;
  }

  .icon-down {
    font-size: 12px;
    transition: all .3s ease 0s;
  }

  .trigger {
    padding: 6px 12px;
  }
}

.main-header.follow-theme {
  .header-nav-item {
    color: #f0f0f0;

    &:hover {
      color: #fff;
    }
  }

  .avatar-wrapper {
    border: 1px solid transparent;
  }
}

.main-side-menu {
  overflow: hidden;
  position: fixed;
  top: $--herder-height;
  left: 0;
  bottom: 0;
  width: $--sideMenu-width;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 0 0 0;
  background-color: #fff;
  z-index: 4;
  transition: width .3s ease;

  .el-scrollbar {
    height: 100%;
  }

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  .svg-icon {
    vertical-align: middle;
    margin-right: 2px;
    width: 24px;
    text-align: center;
    font-size: 16px;
    transition: font-size .3s ease;
  }

  /* reset element-ui el-menu
  ------------------------------ */
  .side-menu-root {
    width: $--sideMenu-width;
    border: none;
  }

  .side-menu-root.el-menu--collapse {
    .el-menu-item {
      text-align: center;
    }

    .svg-icon {
      font-size: 18px;
    }
  }

  .el-menu-item,
  .el-submenu__title,
  .el-submenu .el-menu-item {
    height: $--sideMenu-menu-item-height;
    line-height: $--sideMenu-menu-item-height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .el-menu-item i,
  .el-submenu__title i {
    color: inherit;
  }
}

.main-side-menu.dark {
  background-color: $--sideMenu-dark-background-color;

  .side-menu-root.el-menu {
    background-color: $--sideMenu-dark-background-color;
  }

  .el-menu,
  .el-submenu.is-opened {
    background-color: mix(#000, $--sideMenu-dark-background-color, 15%);
  }

  .el-menu-item,
  .el-submenu__title {
    color: $--sideMenu-dark-item-text-color;

    &:hover,
    &:focus {
      color: mix(#fff, $--sideMenu-dark-item-text-color);
      background-color: mix(#fff, $--sideMenu-dark-background-color, 2.5%);
    }
  }

  .el-submenu.is-active > .el-submenu__title,
  .el-menu-item.is-active {
    color: mix(#fff, $--sideMenu-dark-item-text-color, 80%);
  }

  .el-menu--collapse .el-submenu .el-menu {
    border: none;
  }
}

.main-content {
  overflow: hidden;
  margin-left: $--sideMenu-width;
  height: $--content-height;
  padding-top: $--herder-height;
  background-color: transparent;
  transition: margin-left .3s ease;

  .main-content-inner {
    position: relative;
    height: 100%;
    background-color: rgb(241, 244, 245);

    .tabs-tools {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
      width: 40px;
      height: $--el-tabs__header-height;
      line-height: $--el-tabs__header-height;
      font-size: 18px;
      text-align: center;

      &:hover {
        color: inherit;
      }
    }
  }

  /* reset element-ui el-tabs
  -------------------------- */
  .main-content-tabs.el-tabs {
    position: relative;
    height: 100%;
  }

  .el-tabs__header {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: $--el-tabs__header-height;
    padding-left: 8px;
    padding-right: 40px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    z-index: 2;

    .el-tabs__item {
      height: $--el-tabs__header-height;
      line-height: $--el-tabs__header-height;
    }
  }


  .el-tabs__content {
    padding-top: $--el-tabs__header-height;
    height: 100%;
  }

  .el-tab-pane {
    overflow: hidden;
    height: 100%;
    padding: 8px;
  }

  .el-tab-pane.iframe-wrapper {
    padding: 0;
  }

  .el-scrollbar {
    height: 100%;
    background-color: #fff;
  }

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  .el-scrollbar__view {
    min-height: 100%;
  }
}

/* Main Layout Style End
------------------------------ */
